body {
  margin: 0;
}

.header {
  width: 100vw;
  height: 70px;
  background-color: #E04C69;
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 400;
    color: white;
  }
}

.container {
  max-width: 656px;
  margin: 0 auto;
}

.emojis {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  p {
    margin: 5% 5% 0 5%;
    font-size: 4em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
  .emojis p {
    margin: 3% 3% 0 3%;
  }
}
