<div class='header'>
  <h1>Funk My Mood</h1>
</div>

<div class="container">
  <div class='emojis'>
    <p id='happy'>😀</p>
    <p id='lol'>😂</p>
    <p id='stars'>🤩</p>
    <p id='whistle'>😘</p>
  </div>
  <div class='emojis'>
    <p id='mad'>😠</p>
    <p id='wtf'>  😳</p>
    <p id='liar'>🤥</p>
    <p id='blow-steam'>😤</p>
  </div>
  <div class='emojis'>
    <p id='scared'>😱</p>
    <p id='cold'>🥶</p>
    <p id='very-mad'>😡</p>
    <p id='insult'>🤬</p>
  </div>
  <div class='emojis'>
    <p id='thumb-up'>👍</p>
    <p id='thumb-down'>👎</p>
    <p id='perfect'>👌</p>
    <p id='middle-finger'>🖕</p>
  </div>
</div>
