<div class='header'>
  <h1>Funk My Mood</h1>
</div>

<div class="container">
  <div class='emojis'>
    <p id='happy'>😀</p>
    <p id='lol'>😂</p>
    <p id='stars'>🤩</p>
    <p id='whistle'>😘</p>
  </div>
  <div class='emojis'>
    <p id='blow-steam'>😤</p>
    <p id='scared'>😨</p>
    <p id='mad'>😡</p>
    <p id='mad-dude'>🤬</p>
  </div>
  <div class='emojis'>
    <p id='thumb-up'>👍</p>
    <p id='thumb-down'>👎</p>
    <p id='perfect'>👌</p>
    <p id='middle-finger'>🖕</p>
  </div>
</div>
